---
layout: default
---

<article class="typo home">
  <h1>日志</h1>
  <ul>
    {% for post in site.posts %}
      <li data-tags="{{ post.tags | jsonify | cgi_escape}}">
        <a href="{{ post.url }}">{{ post.title }}</a><small><span>-</span>{{ post.date | date: '%Y年%m月%d日' }}</small>
      </li>
    {% endfor %}
  </ul>
  <h1>关于我</h1>
  <p>我目前就职于腾讯，是一名全栈开发工程师。</p>
  <h4>链接</h4>
  <ul>
    <li><a href="https://github.com/zhaoda" target="_blank">GitHub</a></li>
    <li><a href="/labs">实验室</a></li>
  </ul>
  <h4>邮箱</h4>
  <p>
    <a href="mailto:zd6437@gmail.com">zd6437@gmail.com</a>
  </p>
  {% include ad.html %}
</article>
