<div class="footer">
  <a href="{{ site.url }}">赵达的个人网站</a> &copy; 2009 - {{ site.time | date: '%Y' }} /  
  <a href="{{ site.github_url }}" target="_blank">Github</a> - 
  <a href="/feed.xml" target="_blank">RSS</a>
  <p>
    本站内容采用<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">知识共享署名-非商业性使用 4.0 国际许可协议</a>进行许可
  </p>
</div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?a9787f0ab45d5e237bab522431d0a7ec";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>